body {
  margin: 0;
  padding: 0;

  background: gainsboro;
}

#container {
  margin: 0 auto;
  max-width: 960px;
}

#header {
  background: indigo url(/img/orbital-64px.png) 16px no-repeat;
  height: 64px;
  color: white;
  overflow: hidden;
  padding-left: 1em;
}

#header h1 {
  height: 1em;
  line-height: 1em;
  font-size: 1.8em;
  font-weight: normal;
  font-family: sans-serif;
  padding-left: 96px;
}

#header a {
  text-decoration: none;
  color: lightsteelblue;
  display: block;
}

#header a:hover {
  color: white;
}

#nav {
  background: indigo;
  overflow: hidden;
}

#nav ul {
  list-style: none; 
  margin: 0;
  padding: 0;
  width: 100%;
  
  overflow: hidden;
}

#nav h2 {
  display: none;
}

#nav li {
  float: left;
  width: 20%;
  min-width: 100px;
  text-align: center;
}

#nav li a {
  display: block;
  background: indigo;
  color: white;
  border: 2px outset indigo;  
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

#nav li a:active, #nav li a:hover {
  border-style: inset;
  color: #cca9dc;
}

#content {
  padding: 1em 2em;

  font-family: sans-serif;

  background: #fff;
  border-left: 1px solid dimgray;
  border-right: 1px solid dimgray;
  border-bottom: 1px solid dimgray;
}

#content h1 {
  font-size: 1.8em;
  line-height: 1.3em;
  font-family: "Georgia", "Times New Roman"," Times", serif;
  font-weight: normal;
  border-bottom: 1px solid #c9c9c9;
  padding: 0;
  margin: 0 0 0.25em 0;
}

#content h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  font-family: "Georgia", "Times New Roman"," Times", serif;
  font-weight: normal;
  border-bottom: 1px solid #c9c9c9;
  padding: 0;
  margin: 1em 0 0.25em 0;
}

#content h3 {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em 0 0 0;
  margin: 0.3em 0 0 0;
}

#content h4 {
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  margin: 0.3em 0 0 0;
}

#content h5 {
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  margin: 0.3em 0 0 0;

  color: darkgray;
}

#content h6 {
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  margin: 0.3em 0 0 0;

  color: #c0fefe;
}

#content p, #content li, #content dl, #content table, #content pre {
  /*font-size: 0.875em;*/
  /*font-size: 1em;*/
  line-height: 160%;
  margin: 0.5em 0;
  padding: 0;
}

#content blockquote {
  border-left: 0.4em solid gainsboro;
  padding-left: 1em;
  margin-left: 1em;
}

#content li {
  margin: 0;
}

#content li li {
  font-size: 1em;
}

#content blockquote {
}

#content table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;

  background-color: #fff;
}

#content th {
  background-color: gainsboro;
}

#content th, #content td {
  border: 1px solid darkgray;
  padding: 0.2em 0.5em;
  font-size: 0.875em;
}

#content dt {
  font-weight: bold;
}

#content a, #footer a {
  color: #000088;
}

#content a[href^="http://"]{
  color: #000044;
}

#content a:visited,
#content a[href^="http://"]:visited{
  color: #880088;
}

code {
  font-size: 1.2em;
}

#content pre {
  border: 1px solid darkgray;
  padding: 0.5em;
  background: antiquewhite;
}

#markdown-toc {
  font-size: 0.875em;
  border: 1px solid darkgray;
  border-top-width: 0.5em;
  background: aliceblue;
  padding: 0.5em 1em 1em 2.5em;
}
  
#markdown-toc {
  float: right;
  margin-left: 1em;
}

#markdown-toc.thin {
  float: right;
  margin-left: 1em;
}

#markdown-toc.wide {
  float: unset;
  margin-left: 0;
}

#markdown-toc li {
  margin: 0;
}

#markdown-toc li ol, #markdown-toc li ul {
  padding-left: 2.5em;
}


#footer {
  margin-bottom: 2em;

  padding: 2em;
  font-family: sans-serif;

  overflow: hidden;
}

#footer p, #footer li {
  font-size: 0.875em;
  line-height: 160%;
  margin: 0.5em 0;
  padding: 0;
}

.hitcounter {
  display: block;
  float: right;
}

/* accessibility */

img:not([alt]) {
  border: 1px dashed #c00;
}
