---
title: category layout
layout: default
---

{{ content }}

{% assign sortedPosts = site.posts | sort: 'title' %}

<ul>
  {% for post in sortedPosts %}
    {% if post.categories contains page.category %}
      {% if post.categories.size == 1 %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>

{% for subcategory in page.subcategories %}

<h3 id="{{ subcategory.slug }}">{{ subcategory.title }}</h3>

<ul>
  {% for post in sortedPosts %}
    {% if post.categories contains page.category %}
      {% if post.categories contains subcategory.slug %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>

{% endfor %}
