<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "style.css" | absolute_url }}">
  <meta charset="utf-8">
  </head>

  <body>
    <div id="container">
      <div id="header">
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
      </div>

      <div id="nav">
        <h2>Navigation</h2>
        <ul>
          <li><a href="{{ "/" | absolute_url }}">Main Page</a></li>
          <li><a href="{{ "/rpgs/" | absolute_url }}">RPGs</a></li>
        </ul>
      </div>

      <div id="content">
      <h1>{{ page.title | default: Untitled }}</h1>
        {{ content }}
      </div>

      <div id="footer">
      <p>
      {% if page.date %} Page created: {{ page.date | date_to_long_string }}. {% endif %}
      {% if page.updated %} Last updated: {{ page.updated | date_to_long_string }}. {% endif %}
      <a href="#">^ Back to top</a>
      </p>
      </div>

    </div>
  </body>
</html>
