<!doctype html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "style.css" | absolute_url }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% feed_meta %}
    {% if page.description %}<meta name="description" content="{{ page.description }}"> {% endif %}
  </head>
  <body>

    <header>
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
      <nav>
        <ul>
          <li><a href="{{ "/comp/" | absolute_url }}" title="Articles on computing">Computing</a></li>
          <li><a href="{{ "/games/" | absolute_url }}" title="Articles on video games">Games</a></li>
          <li><a href="{{ "/rpg/" | absolute_url }}" title="Articles on tabletop roleplaying games">RPGs</a></li>
          <li><a href="{{ "/tv/" | absolute_url }}" title="Articles on television">TV</a></li>
          <li><a href="{{ "/opinion/" | absolute_url }}" title="Opinion">Opinion</a></li>
          <li><a href="{{ "/etc/" | absolute_url }}" title="Other pages">Etc</a></li>
        </ul>
      </nav>
    </header>
    <main>

{% if page.title %}<h1>{{ page.title | default: Untitled }}</h1>{% endif %}

{% if page.date %}
<p class="meta">
Posted
{% case page.category %}
  {% when "comp" %}
  in <a href="comp/">Computing</a>
  {% when "games" %}
  in <a href="games/">Games</a>
  {% when "rpg" %}
  in <a href="rpg/">RPG</a>
  {% when "tv" %}
  in <a href="tv/">TV</a>
  {% when "opinion" %}
  in <a href="opinion/">Opinion</a>
  {% when "etc" %}
  in <a href="etc/">Etc</a>
{% endcase %}
{% if page.date %} on <time>{{ page.date | date: "%Y-%m-%d" }}</time> {% endif %}
{% if page.updated %} &mdash; last updated <time>{{ page.updated | date: "%Y-%m-%d" }}</time> {% endif %}
</p>
{% endif %}

{{ content }}

    </main>
    <footer>
      <ul>
        <li><a href="#">&#x219F; Back to page top</a></li>
        <li>
{% if page.license %} {% assign license = page.license %}
{% elsif site.defaultlicense %} {% assign license = site.defaultlicense %}
{% else %} {% assign license = "copyright" %}
{% endif %}
{% case license %}
  {% when "CC BY" %}
<a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
  {% when "copyright" %}
    &copy; {{ page.date | date: %Y}}{% if page.updated %}&ndash;{{ page.updated | date: %Y }} {% endif %} {{site.author}}
  {% when "CC0" %}
<a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 Public Domain</a>
  {% when "none" %}
{% endcase %}
</li>

{% if site.hitcounterid %}
        <li><img src="https://www.free-website-hit-counter.com/c.php?d=8&id={{ site.hitcounterid }}&s=16" title="free website hit counter" class="hitcounter" alt="hitcounter"></li>
{% endif %}
      </ul>
    </footer>

  </body>
</html>
