---
title: index layout
layout: default
---

{{content}}

<h2>Newest articles</h2>

<ul>
{% for post in site.posts limit:10 %}
  <li><a href="{{post.url}}">{{post.title}}</a> {{ post.categories | default: "" | join: "/" | prepend: " (" | append: ") " }}  &mdash; {{ post.date | date_to_string }}</li>
{% endfor %}
</ul>

<h2>Recently updated</h2>

<ul>
{% assign sortedPosts = site.posts | sort: 'updated' | reverse %}
{% for post in sortedPosts limit:10 %}
{% if post.updated %}
  <li><a href="{{post.url}}">{{post.title}}</a> {{ post.categories | default: "" | join: "/" | prepend: " (" | append: ") " }} &mdash; {{ post.updated | date_to_string }}</li>
{% endif %}
{% endfor %}
</ul>

