---
title: index layout
layout: default
license: none
---

{{content}}

<h2>Index</h2>

<table class="index">
{% for post in site.posts  %}
<tr>
  <td class="index-cat"><a href="{{ post.category | absolute_url }}">{{post.category}}/</a></td>
  <td class="index-link"><a href="{{post.url}}">{{post.title}}</a>
  {% for tag in post.tags %}
    {% if tag=="hot" %}
      (hot!)
    {% endif %}
  {% endfor %}

  {% capture postdate %}{{ post.date | date: '%s'}}{% endcapture %}
  {% capture now %}{{'now' | date: '%s'}}{% endcapture %}
  {% assign postdate = postdate | plus: 0 %}
  {% assign past = now | minus: 2628000 %}
  {% if postdate > past %}
    (new)
  {% elsif post.updated %}
    {% capture postdate %}{{ post.updated | date: '%s'}}{% endcapture %}
    {% assign postdate = postdate | minus: 992628000 %}
    {% if postdate > past %}
      (updated)
    {% endif %}
  {% endif %}

</td>
  <td class="index-date">
  {% if post.updated %}<time title="Posted {{ post.date | date: "%A, %d %B %Y" }}. Updated {{ post.updated | date: "%A, %-d %B %Y" }}">{{ post.updated | date: "%Y-%m-%d" }}&ast;</time>
  {% else %}<time title="Posted {{ post.date | date: "%A, %-d %B %Y" }}">{{ post.date | date: "%Y-%m-%d" }}</time>
  {% endif %}
</td>
</tr>
{% endfor %}
</table>
